@import "tailwindcss";

body {
  @apply m-0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@theme {
  --background: #F2F3F4;
  --text-secondary: #707070;
  --primary:  #540D6E;
  --text: #FFF;
}
